
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  height: 500px;

  & img {
    /* height: 150px; */
    object-fit: cover;
  }
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2 );
}